<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1> CONSULADD Assignment </h1>
<p>
At Consultadd we provide IT Consultin|solutions in the USA<br>

From Training to Visa Advice to location preferences, we always focus on getting employment for consultants as we are specialized in IT training and Placement, Consulting and Recruiting Services, giving value to the Businesses in every sector, we understand what is your requirement from our own experience. We would treat you like we would have treated ourselves</p>
<a href="log"><input type="submit" value="Login" ></a>


<p>Not joined yet?, Join us by signing up</p>

<a  href="reg"><input type="submit" value="Sign up" ></a>
</body>
</html>